body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.nav-bar {
    width: 100%;
    background-color: #24344b;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 5;
}
.nav-bar h1 a {
    color: white;
    text-decoration: none;
}
.nav-bar h1 {
    margin-left: 2.5%;
    font-size: 35px;
    color: white;
}
.nav-bar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar nav li {
    float: right;
}
.nav-bar nav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.owl-carousel .owl-item img {    
    height: 360px;
    object-fit: cover;
}
.container {
    margin: 0 auto;
    max-width: 1250;
    width: 95%
}
.banner {
    margin-top: 135px;
    width: 100%;
    height: 360px;
}
a {
    display: block;
}
#photo {
    object-fit: cover;
}
#calendar {
    width: 100%;
    height: 397.5px;
}
.toggle-expand {
    cursor: pointer;
}
.boxes {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#left, #center, #right {
    background-color: #24344b;
    width: 32%;
    padding-bottom: 32%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.boxes:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}