@font-face {font-family: Neutraface2; src: url('Neutraface2Display-Light.otf');}
@font-face {font-family: Neutraface2; font-weight: 600; src: url('Neutraface2Display-Medium.otf');}

body {
    left: 0;
    margin: 0;
    overflow: scroll;
    position: relative;
    font-size: 23px;
    color: black;
}

.menu {
  background-color: white;
  left: -300px;
  height: 100%;
  position: fixed;
  width: 300px;
  border-right: 1px solid black;
  z-index: 100;
}

.main-page {
  background-color: white;
  height: 100%;
}

.menu a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

a {
    color: darkblue;
    text-decoration: none;
}

.menu a:hover {
    color: purple;
}

.main-page a:hover {
    color: purple;
}

a:active {
    color: purple;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-left: 15%;
}

.icon-close {
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close img {
    height: 13px;
    width: 12px;
    vertical-align: middle;
    padding-bottom: 1px;
}

.icon-menu {
  color: black;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
    padding-top: 10px;
    color: black;
    padding-left: 0px;
    font-weight: 200;
    width: 102.5%;
    border-bottom: 1px solid black;
    font-size: 2.2em;
    margin-left: -2.5%;
}
h2 {
    width: 25%;
    border-bottom: 1px solid black;
}

.main {
    margin-left: 12.5%;
    margin-right: 10%;
    height: 100%;
}

.X {
    font-weight: 800;
}
.Calendar iframe{
    width: 100%;
    height: 400px;
    margin-bottom: 5%;
}
.Spotify{
    width: 25%;
}
.Link-img{
    height: 30px;
    Padding: 5px;
}
.Link-Images img {
    display:block; 
    margin: Left;
    height: 50px;
    margin-top: 5px;
}

/* for duties page */

@media only print {
    body * {color: black;}
    header * {display: none;}
    img {display: none;}
    #specificData * {display: none;}
    #shower * {color: black;}
}

table {
        margin-left: 5%;
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 0.9em;
        color: black;
    }
    th {
        width: 6em;
        align-content: center;
        text-align: center;
        font-size: 1.1em;}
    td {
        text-align: center;
        vertical-align: text-top;
    }
    td p {
        margin: 0.5em;
    }
    a {
        text-decoration: none;
        color: purple;
        font-weight: 600;
    }
    a:hover {
        color: purple;
    }
    #bold {
        font-size: 1.2em; font-weight: 600;
    }
    #Team {
        color: purple;
        font-weight: 600;
    }
    #Extra {
        color: purple;
        font-weight: 600;
    }
    #shower {
        font-weight: 600;
        cursor: pointer;
    }
    #Weekday {
        display: none;
        float: left;
    }
    #Weekend {
        display: none;
        float: left;
    }
    .Duties-Text{
        font-size: 1.7em;
    }
    #Duties p {
        color: black;
        font-weight: 200;
    }

@media screen and (max-device-width: 480px) and (orientation: portrait){

    .icon-menu {
        font-size: 20px;
    }
    .menu a {
        font-size: 20px;
    }
    .icon-close {
        font-size: 20px;
    }
    .icon-close img {
        width: 15;
        height: 15px;
    }
    #Duties {
        font-size: 15px;
    }
    .main h1 {
        font-size: 40px;
    }
    .Spotify{
    width: 100%
    }
}