@font-face {font-family: Neutraface2; src: url('Neutraface2Display-Light.otf');}
@font-face {font-family: Neutraface2; font-weight: 600; src: url('Neutraface2Display-Medium.otf');}
@media all {html {font-size: 24px;} ul {padding: 12px}}
@media all and (max-width:960px){html {font-size: 23px;} ul {padding: 12px}}
@media all and (max-width:920px){html {font-size: 22px;} ul {padding: 12px}}
@media all and (max-width:880px){html {font-size: 21px;} ul {padding: 14px}}
@media all and (max-width:840px){html {font-size: 20px;} ul {padding: 15px}}
@media all and (max-width:800px){html {font-size: 19px;} ul {padding: 16px}}
@media all and (max-width:760px){html {font-size: 18px;} ul {padding: 17px}}
@media all and (max-width:720px){html {font-size: 17px;} ul {padding: 18px}}
@media all and (max-width:680px){html {font-size: 16px;} ul {padding: 19px}}
@media all and (max-width:640px){html {font-size: 15px;} ul {padding: 20px}}
body {font-family: Neutraface2; width: 100%; margin: 0 auto; padding: 0 auto; font-size: 0.9em;}
header {height: 52px; background-color: #d5e4f0; margin: 0 auto; padding: 0 auto;}
li {color: white; float: left; width: 20%; text-align: center;}
p {margin-left: 12%; margin-right: 12%;}
footer {position:bottom; float:bottom;}
img {margin-left: 12%;}
h1 {font-family:Neutraface2; margin-left: 6%; font-weight: 600; width: 50%; border-bottom: 1px solid black; font-size: 2.2em;}
ul {float: center; list-style: none; text-align: center; margin: 0; font-size: 1.2em;}
table { margin-left: 20%; font-size: 0.8em;}
th {width: 6em; align-content: center; text-align: center; vertical-align: text-top;}
td {text-align: center; vertical-align: text-top;}
td p {margin: 0.5em;}
a {text-decoration: none; color: #00046a; font-weight: 600;}
a:hover {color: #7c017c;}
ul a {
    color: white;
}
ul a:hover {
    color: white;
}
.h12 {
    font-family:Neutraface2;
    margin-left: 6%;
    font-weight: 300;
    border: none;
}