Body {
    margin: 0;
}
header {
    height: 50px;
    width: 100%;
    background-color: #24344b;
}
header nav {
    
}
header nav li {
    display: inline;
    float: right;
}
header nav li a {
    color: black;
}